*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    padding: 40px 0;
}

p{
    font-size: 14px;
}

.page{
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    color: white;
    width: 350px;
    padding: 15px;
    margin: auto;
}


/* profile pic */

.profile-pic{
    text-align: center;
}

.profile-pic h1{
    margin-bottom: 0.5em;
    font-weight: 700;
}

.greenp{
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    margin-bottom: 2em;
}

.woman{
    margin-bottom: 2em;
    border-radius: 90px;
    height: 6em;
}

/* buttons */

.buttons{
    text-align: center;
}

.button{
    background-color:   hsl(0, 0%, 20%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1em;
    font-weight: 700;
}


@media screen and (min-width: 400px){

    .page{
        padding: 20px;
    }
    
}